[2015-09-27 18:19] divaykin opened #1 "QuickFIX like configs"
what I like about QuickFIX is it's configuration model - one can do a lot with just changing session parameters to connect to a new venue. would be great to have something similar

[2015-09-27 19:42] jvirtanen commented on #1
Sounds good! Can you elaborate a little on the strengths of QuickFIX/J? I have to admit that my experience with it is quite limited.

In Philadelphia, session configuration is set via the [`FIXConfig`](https://github.com/jvirtanen/philadelphia/blob/master/philadelphia/src/main/java/org/jvirtanen/philadelphia/FIXConfig.java) class. Custom fields and messages are also supported as Philadelphia, unli

[2015-09-27 20:02] divaykin commented on #1
http://www.quickfixj.org/quickfixj/usermanual/1.5.3/usage/configuration.html

see the example in the bottom. actually drop-in replacement of QuickFIX/J would be great in terms of configs.

what i like is
* you can set pretty much any standard header tag in the config
* default section is very useful, no need to repeat definitions
* you can set session storage parameters - location, etc
* you can s

[2015-09-29 05:12] sirinath commented on #1
@divaykin Wondering if you can contribute this in a very permanent way.

[2015-09-29 10:21] jvirtanen commented on #1
In my mind I have classified features such as trading schedule, reconnection mechanism, and message persistence as well as message validation as _optional_. They are something that could definitely be built on top of Philadelphia, but I would keep them out of the library core.

Of course a Philadelphia-based drop-in replacement for QuickFIX/J would be great from a marketing perspective. :wink:

[2015-10-05 13:53] jheusser opened #2 "FIX 4.4"
Do you already have plans supporting different FIX versions (FIX 4.4)? I ran a brief test connecting to a FIX 4.4 endpoint. Constructing messages is easy for it (just using different enumerations, msgtypes, and tags) however it would require some session layer configuration changes, such as logon authentication. I am not entirely familiar with all changes between the versions but it would be nice

[2015-10-05 14:23] jvirtanen commented on #2
Great to hear that you are running tests. All feedback is very welcome. I personally have so far run tests against [Libtrading](https://github.com/libtrading/libtrading), [Stirling](https://github.com/penberg/stirling), and [Falcon](https://github.com/penberg/falcon).

Yes, FIX versions from FIX 4.3 onwards are on the backlog.

Regarding Logon(D), note that you can construct the message yourself a

[2015-10-05 14:36] jheusser commented on #2
Thanks for the quick reply. Great to hear later FIX versions are in the backlog.

Btw, the FIX 4.4 authentication fields (tags 553 / 554) are normal body fields, so I think this could work in a callback (I just added it manually to `sendLogon` test wise). But for now I'll stick to constructing a custom Logon message as you suggested, that should work as well.

[2015-10-06 14:38] jheusser opened #3 "SendingTimeAccuracy reject on market data session"
I observed that on a market data-only session the exchange eventually sends a Reject(3) "SendingTimeAccuracy error" because the timestamp is never updated (no trades sent where there would be a good chance of updating the timestamp and heartbeat/testreq does not update timestamp).

Do you envision the library to take care of this or would you expect the user to call `updateCurrentTimestamp` in log

[2015-10-06 15:48] jvirtanen commented on #3
Yes, the intention is that the application invokes `updateTimestamp` periodically. This is to avoid the cost of timestamp formatting on `send`. The application can then use the formatted timestamp (`getCurrentTimestamp`) for other fields, such as TransactTime(60), as well.

[2015-10-06 16:08] jheusser commented on #3
Ok, makes sense.

[2015-10-06 16:08] #3 closed

[2015-11-17 17:39] jvirtanen opened #4 "Incoming message validator"
Philadelphia should provide an optional validator for incoming messages.

[2015-11-20 14:04] jheusser opened #5 "Make rxBuffer capacity configurable in FIXSession"
I believe if the SocketChannel has more bytes available than the capacity of the `rxBuffer` then this will lead to garbled FIX message parsing on the next receive call. Do you think that's correct/possible?

Would be important to be able to adjust the capacity per session in this case.

[2015-11-20 14:26] jvirtanen commented on #5
Good point, they should definitely be part of [`FIXConfig`](https://github.com/jvirtanen/philadelphia/blob/master/philadelphia/src/main/java/org/jvirtanen/philadelphia/FIXConfig.java). For example:
- `FIXConfig#getRxBufferCapacity`
- `FIXConfig#getTxBufferCapacity`

Would you be interested in sending a patch? Otherwise I can fix this over the weekend.

[2015-11-20 14:29] jheusser commented on #5
Sounds good, I'll submit a PR.

[2015-11-22 20:29] jvirtanen commented on #5
Fixed by #6.

[2015-11-22 20:29] #5 closed

[2015-12-23 05:56] #2 closed

[2016-01-16 14:00] jheusser opened #10 "Accessing FIXSession inside FIXStatusListener"
In the example Initiator a `FIXStatusListener` is passed to the `FIXSession` as anonymous class (see [here](https://github.com/jvirtanen/philadelphia/blob/master/philadelphia-initiator/src/main/java/org/jvirtanen/philadelphia/initiator/Initiator.java#L33)). For more complicated `FIXStatusListeners` (or for multiple active `FIXSessions`) it's not convenient to pass it as anonymous class and thus I

[2016-01-16 16:10] jvirtanen commented on #10
Yes, this is something I have been thinking about.

I think the cleanest approach would be to augment `FIXMessageListener` and `FIXStatusListener` methods to contain a `session` argument. An example:

[code]

What do you think? @penberg, any thoughs?

[2016-01-16 17:22] penberg commented on #10
@jvirtanen Sounds reasonable to me.

[2016-01-16 18:03] jheusser commented on #10
@jvirtanen sounds good yes, also allows to potentially share a `FIXStatusListener` between multiple `FIXSessions`. I think the status listener has more immediate need for the session than the message listener, but probably makes sense for consistency to add the argument to both.

[2016-01-16 21:33] jvirtanen commented on #10
@jheusser Good point again. I agree that we should do it only for `FIXStatusListener`, at least for now. Would you be interested in submitting a pull request?

[2016-01-17 11:18] jheusser commented on #10
@jvirtanen Ok, will submit a PR adding a `FIXSession` parameter to each method in `FIXStatusListener`.

[2016-01-17 11:57] jvirtanen commented on #10
Great, thanks! :+1:

[2016-01-21 17:55] jheusser commented on #10
@jvirtanen Doing this now. Maybe it is also required in `FIXMessageListener` as the `MessageHandler` inside `FIXSession` is also passing down events to the session `FIXStatusListener`. Or I pass the session in via constructor in the `MessageHandler`. You decide what's best.

[2016-01-21 18:02] jvirtanen commented on #10
You don't need to pass the session to `MessageListener`; as a non-static inner class you can refer to the current session as `FIXSession.this` in `MessageListener`.

[2016-01-21 18:12] jheusser commented on #10
Right it's not static, duh! Thanks

@jvirtanen  Another issue my IDE is just explaining about in `philadelphia-perf-test`. The package `org.philadelphia.perf` does not match the package name used within the java class files (which is `org.jvirtanen.philadelphia.perf`).

[2016-01-21 18:16] jvirtanen commented on #10
Great find! I myself use Vim, so I didn't notice the mismatch. Would you like to open another pull request to fix that?

[2016-01-21 18:17] jheusser commented on #10
Will do

[2016-01-21 18:19] jvirtanen commented on #10
Great, thanks! :+1:

[2016-01-25 20:40] jvirtanen commented on #10
Closed by #13.

[2016-01-25 20:40] #10 closed

[2016-02-24 06:59] jvirtanen opened #15 "Too long message"
The FIX message parser should throw an exception upon an incoming message that is too long to fit into the receive buffer.

[2016-02-24 17:18] #15 closed

[2016-03-15 22:22] jvirtanen opened #20 "Minimize terminal client JAR"
The JAR of the terminal client, which depends on Eclipse Collections, weighs at 12 MiB.

[2016-03-18 22:37] #20 closed

[2016-03-22 17:37] jvirtanen opened #22 "Fixed-point decimal numbers"
Philadelphia currently supports decimal numbers, or floats as they are called in the FIX protocol, using the double precision floating-point type. While this is often sufficient, some applications would benefit from the greater accuracy provided by fixed-point decimal numbers.

The additional `FIXValue` methods could look like this:

[code]

[2016-03-23 19:15] jvirtanen commented on #22
@atispor It is probably better to have a scaling exponent rather than a scaling factor. The scaling factor of 100 becomes a scaling exponent of 2 (100 = 10²). That directly gives you the number of decimals.

[2016-04-07 09:16] jheusser opened #26 "String representation of FIXSession"
If you have multiple `FIXSession` instances active it would be useful to be able to distinguish them on the callbacks to `FIXStatusListener`. Either giving `FIXSession` a `toString` representation or perhaps exposing parts of its `FIXConfig` (e.g. `SenderCompId`).

[2016-04-07 21:37] jvirtanen commented on #26
Yes, this is a good point. Perhaps simplest would be to add `getSenderCompID` and `getTargetCompID` methods as you suggest.

In the same vein, the existing `getChannel` method can be used to access the underlying socket channel instance. Through it you can get the remote IP address and TCP port, for example.

[2016-04-12 15:03] jvirtanen commented on #26
@jheusser My apologies, I have been quite busy recently. Would you be interested in contributing a patch for this yourself? Alternatively I can have a look at this a bit later.

[2016-04-12 15:06] jheusser commented on #26
@jvirtanen No problem, your suggestion of getting the channel via `getChannel` is good, as it has a nice string representation. But in general adding a `getSenderCompID` and `getTargetCompID` should be useful, I can submit a PR later on for that?

[2016-04-12 15:17] jvirtanen commented on #26
@jheusser Yes, I think it would be good to add `getSenderCompID` and `getTargetCompID` as well.

[2016-04-28 15:54] jheusser opened #27 "Expose rxMsgSeqNum and txMsgSeqNum"
Ability to access current `rxMsgSeqNum` and `txMsgSeqNum` on a `FIXSession`. There's a package private method `getInboundMsgSeqNum`, perhaps the same for outbound and both public? Access is necessary to persist sequence numbers in case of logon without sequence reset and a `FIXSession` is instantiated with specific sequence numbers.

[2016-04-28 21:04] jvirtanen commented on #27
Yes, this is a needed addition.

I noticed that currently the API uses "inbound" and "incoming" as well as "outbound" and "outgoing" interchangeably. The API should settle on either of them. I have to check what is the terminology used in the protocol specification.

[2016-04-28 21:13] jheusser commented on #27
Yes, currently `FIXSession` is using inbound/incoming/rx and outbound/outgoing/tx.

[2016-04-28 21:17] jvirtanen commented on #27
Perhaps "incoming" and "outgoing" are better as they are already used on `FIXConfig` whereas `getInboundMsgSeqNum` on `FIXSession` is only part of the private interface.

[2016-05-02 18:22] #27 closed

[2016-05-02 18:39] #26 closed

[2016-05-22 16:29] jvirtanen commented on #4
As Philadelphia does not enforce field types, this is something that is best left to be implemented on top of Philadelphia.

[2016-05-22 16:29] #4 closed

[2016-07-24 19:17] jvirtanen opened #30 "Read timestamps as milliseconds"
Currently timestamps as well as date only and time only values can be read via a `MutableDateTime` object. For simplicity, it should be possible to obtain these as long integers representing milliseconds as well.

[2016-07-24 19:48] jvirtanen commented on #30
Same should actually apply for writing timestamps.

[2016-07-24 19:49] jvirtanen commented on #30
Currently Philadelphia has a dependency on Joda-Time only because of `MutableDateTime`.

[2016-09-11 18:32] jheusser opened #31 "FIXSession can't be inherited from"
Not sure if a `FIXSession` is supposed to be inheritable, but if it is then it's currently not possible as `Clock` and `SystemClock` are not publicly visible.

[2016-09-11 20:33] jvirtanen commented on #31
The class is indeed not designed with inheritance in mind. What kind of functionality are you building on top of it? Perhaps we can find another, more idiomatic way to accomplish that.

[2016-09-11 21:08] jheusser commented on #31
Actually I was more just experimenting, not a very concrete reason just yet. Good to know it's not designed for inheritance.

[2016-09-11 21:08] #31 closed

[2016-09-12 06:33] jvirtanen commented on #31
In principle, all Parity projects consist of interfaces that are meant to be implemented and classes that by default are not designed inheritance in mind. I will add a reminder to mention this in the [Parity Guide](https://github.com/paritytrading/documentation).

[2016-09-12 10:42] penberg commented on #31
@jvirtanen So make the `FIXSession` class definition `final`. That's a pretty good hint to readers that the class is not designed for inheritance :wink:

[2016-10-17 12:32] jheusser opened #32 "FIX44Enumerations.CxlRejResponseToValues"
Value '2' should be called OrderCancelReplaceRequest

http://www.onixs.biz/fix-dictionary/4.4/tagNum_434.html

[2016-10-17 14:29] penberg commented on #32
The same applies to all FIX versions, btw.

[2016-10-17 15:55] jvirtanen commented on #32
I agree that it is confusing.

The enumerations are generated based on the [FIX Repository](http://www.fixtradingcommunity.org/pg/structure/tech-specs/fix-tools/fix-repository), which specifies a description and a symbolic name for each value. For CxlRejResponseTo(434), the value 2 has the description "Order Cancel/Replace Request" and, for some reason, the symbolic name `OrderCancel`.

Any though

[2016-10-17 16:25] jheusser commented on #32
I think "Order Cancel/Replace Request" means "Order Cancel Replace Request" 😄

In our use case value '2' is only used on a order cancel reject originating from an order cancel replace request.

[2016-10-17 17:10] jvirtanen commented on #32
Yes, indeed. The values in the FIX Repository are as follows:

Value | Symbolic Name | Description
------|----------------|-------------
1        | `OrderCancelRequest` | Order Cancel Request
2       | `OrderCancel` | Order Cancel/Replace Request

So I'm kind of blaming the FIX Repository here. (Maybe _they_ generate the symbolic names from the descriptions, and their generator breaks down at the

[2016-10-17 18:47] jheusser commented on #32
Cool ok makes sense in this case if it agrees with the FIX repo, even though I also think the slash tripped the generator up 💣

[2016-10-19 06:58] jvirtanen commented on #32
Maybe Philadelphia's code generator could generate an `OrderCancelReplaceRequest` alias here...

[2016-10-20 20:33] jvirtanen commented on #30
If needed, a `MutableDateTime` can be converted to a long integer representing milliseconds by the user.

For Philadelphia to support a long integer interface for timestamps and date only and time only values, it would need to either maintain internal `MutableDateTime` instances for conversions or implement the date and time calculations itself. Closing this for now.

[2016-10-20 20:33] #30 closed

[2016-10-25 14:47] jheusser opened #34 "Heartbeats and external clock"
Having full control over the internal session clock is good though it seems to make complying with the FIX protocol with respect to heartbeats a bit difficult perhaps. On an idle session how frequently do you have to update the clock (calling `updateCurrentTimestamp`) and how frequently do you have to call `keepAlive` to make a heartbeat work without running into `TestRequest` from the acceptor?

[2016-10-26 13:53] jvirtanen commented on #34
The current timestamp (updated with `updateCurrentTimestamp`) is used for keep-alive as well as for all outgoing messages. The most important aspect regarding its update frequency is the clock accuracy required by the trading venue.

The keep-alive mechanism (run by `keepAlive`) does three things:

1. It checks whether at least HeartBtInt(108) has passed since sending the last message. If yes, it

[2016-10-26 20:40] jheusser commented on #34
Thanks a lot @jvirtanen for the clear answer, I was missing the 10% bit.

[2016-10-27 15:09] #34 closed

[2016-11-06 23:03] #32 closed

[2017-01-27 15:48] jheusser opened #37 "Make checksum in `FIXMessageParser` optional"
It would be a nice feature to make the `FIXCheckSums.sum` branch optional in `FIXMessageParser`.

Also related to that, if that change was made, it would be nice to add a `FIXMessageParser` perf-test, but for that the class would need to be public.

[2017-01-27 19:53] jvirtanen commented on #37
That's a good idea, thanks! :+1:

Yes, a performance test for `FIXMessageParser` would be good to add. I see no reason not make the class public, although it would be of fairly limited utility. Perhaps it would be a better idea to move the performance tests to the same package as the classes under test.

[2017-01-27 20:51] jheusser commented on #37
Actually would also include the other branches touching `checkSum` field I assume.

[2017-01-29 21:21] jvirtanen commented on #37
@jheusser Yes, makes sense. I'll look into this on the starting week.

[2017-02-05 18:34] #37 closed

[2017-02-05 18:48] jvirtanen commented on #37
@jheusser I just pushed the changes that make the incoming CheckSum(10) check optional. I'll add a performance test for `FIXMessageParser` a bit later.

[2017-02-05 21:09] jheusser commented on #37
Great, thanks 👍

[2017-07-18 09:17] Hema-Chandra opened #41 "String representation of FIXMessage"
I have started working with philadelphia and it's pretty good till now. I wanted to know one thing. I have seen the examples and I am working with them know. I can able to send a message to acceptor from initiator and can receive the response in the "Initiator" class , " message(FIXMessage message) " method which is again declared in the interface "FIXMessageListener". I just wrote System.out.prin

[2017-07-18 13:18] jvirtanen commented on #41
1. There's currently no way to pretty-print a [`FIXMessage`](https://github.com/paritytrading/philadelphia/blob/master/libraries/core/src/main/java/com/paritytrading/philadelphia/FIXMessage.java) object. This is partly because the operation would have subtly worse performance profile than the other available operations. You can implement this by iterating over the fields in a message in the [`FIXM

[2017-10-05 13:07] jvirtanen opened #43 "MiFID II support"
[MiFID II](https://en.wikipedia.org/wiki/MiFID_II) is coming, and with it, [updates to the FIX protocol](http://www.fixtrading.org/fix-and-mifid/). Support for these changes should be added to Philadelphia as well.

[2017-12-13 06:30] shiqinfeng1 opened #45 "run example error"
I want to test parity-system performance  with parity-sim,
I do the following operations( using  default config ):
[code]
and parity-system  exit with following errors:
[code]
the code is :
https://github.com/paritytrading/parity/blob/master/libraries/net/src/main/java/com/paritytrading/parity/net/poe/POE.java#L72

but I dont know why it happens.

[2017-12-13 09:28] jvirtanen commented on #45
Hi @shiqinfeng1! This is a duplicate of [#9](https://github.com/paritytrading/parity-extras/issues/9) on [Parity Extras](https://github.com/paritytrading/parity-extras). Let's track the progress over there.

[2017-12-13 09:28] #45 closed

[2018-01-31 11:46] jheusser opened #46 "FIXConfig toString method"
It would be nice if `FIXConfig` had a sensible `toString` method.

[2018-01-31 11:49] jvirtanen commented on #46
Yes, makes sense. Do you want to contribute one? 🙂

[2018-01-31 21:06] jvirtanen commented on #41
`FIXMessage#toString()` was implemented in #44.

[2018-01-31 21:06] #41 closed

[2018-02-20 16:20] #46 closed

[2018-04-18 15:52] sambohrer opened #51 "make FIXMessageParser a public class"
Is there any reason why a user shouldn't be able to use the FIXMessageParser without having to start an entire FIXSession? in case a users ByteBuffer isn't purely FIX messages but has FIX messages within the byte buffer to be parsed

[2018-04-25 22:28] jvirtanen commented on #51
Hi @sambohrer! That's a good idea, I'll have a look at it. :+1:

[2018-05-04 12:01] jheusser opened #53 "Expose constructor in FIXSession"
It would be nice if the constructor would be public in `FIXSession` to pass in external clock:
[code]

[2018-05-04 12:05] jvirtanen commented on #53
Yes, good idea. :+1:

[2018-05-04 12:06] jheusser commented on #53
Also related to that, the class `SystemClock` is probably superfluous and can be replaced with `System::currentTimeMillis` usage these days.

[2018-05-04 12:53] jvirtanen commented on #53
Yes, definitely. That is a remnant from the Java 7 times. 🙂

[2018-05-08 14:52] #53 closed

[2018-08-02 22:15] daybyter commented on #41
Is there a way to see the message that is actually sent? Including length, timestamp etc field? Or just use something like tcpdump to see the sent string?

[2018-08-02 22:39] jvirtanen commented on #41
BeginString(8), BodyLength(9), and CheckSum(10) are handled outside `FIXMessage`. So, no, there's no simple way to do that from within an application. Something like tcpdump is your best bet.

[2018-08-15 02:44] benitovc opened #70 "ECONNRESET (Connection reset by peer)"
Hi, I´s using Philadelphia to conect as initiator to a FIX Gateway Server, but I´m receiving disconnection after receive an important amount of messages; the following is the stack:
    IN:35=X|34=10966|49=DFIXS01|52=20180815-01:02:44.926|56=CFIX10|262=2|268=1|279=2|55=USD/CLP|269=0|270=630.45|271=250000|278=GKJH40|290=1|1023=5|1021=3|1300=39|1301=XBCL|
08-14 20:03:16.110 627-968/com.bvcapps.marke

[2018-08-15 02:49] benitovc opened #71 "dalvikvm: GC_FOR-ALLOC"
When y run philadelphia on an android device, I receive a lot of messages like:
D/dalvikvm: GC_FOR_ALLOC freed 1025K, 47% free 8909K/16584K, paused 21ms, total 22ms
D/dalvikvm: GC_FOR_ALLOC freed 2232K, 47% free 8905K/16584K, paused 23ms, total 23ms

[2018-08-15 08:04] jvirtanen commented on #71
Hi @benitovc! Obviously it's very hard to say what in your application causes memory allocation, but regarding Philadelphia, check that you are not using any of the following on the hot path:
- `FIXMessage.fromString()`
- `FIXMessage#toString()`
- `FIXSession#create()`
- `FIXValue#asString()`

[2018-08-15 10:18] jvirtanen commented on #70
Are you sending anything from the client side? Are you calling `updateTimestamp()` and `keepAlive()` periodically?

[2018-08-15 11:45] benitovc commented on #70
No, I´m not sending any message, I thought philadelphia was sending keepAlive.

[2018-08-15 12:01] benitovc commented on #71
When a new message arrives to my client, I´m printing using FIXMessage.toString and FIXValue.asString in order to process message, but this D/dalvikvm: GC_FOR_ALLOC appears more when there is no message flow. After connection is done, in Logcat I receive something like:
08-15 06:55:04.563 10624-10772/com.bvcapps.marketdata A/texto: Abriendo conexión FIX con /192.168.0.4:5125
    Ambiente:CL sender

[2018-08-15 12:25] benitovc opened #73 "SSL Connection"
Is it possible to change the connection to use SSL Socket?

[2018-08-15 12:34] jvirtanen commented on #71
Are you using a `Selector`? On JDK, that allocates memory. Apart from that, I don't really know how the Dalvik runtime differs from the JRE in regard to the `SocketChannel` implementation. Have you ensured that messaging over a raw `SocketChannel` causes no memory allocations on Dalvik?

[2018-08-15 12:35] jvirtanen commented on #70
No, you have to invoke `keepAlive()` periodically yourself.

[2018-08-15 12:39] jvirtanen commented on #73
No, not right now. The primary use case for Philadelphia is in private networks in colocated data centers. You can deploy e.g. [stunnel](https://www.stunnel.org/) in front of your application.

[2018-08-16 11:58] benitovc commented on #70
Ok, I will include a thread to call keepAlive() periodically. Thanks.

[2018-08-16 11:58] #70 closed

[2018-08-16 12:27] benitovc commented on #71
Well, for the creation of channel I´m using: channel = SocketChannel.open();
I´m not using Selector. But in Android documentation the class SocketChannel has a protected constructor: SocketChannel(SelectorProvider provider) I don´t know if it is called.
I think the messaging over is coused by socket channel or someting in philadelphia because when connection is not established, the messages does n

[2018-08-16 12:29] jvirtanen commented on #70
Great! Remember that [keep-alive and data transmission should either run on the same thread or on different threads with locking](https://github.com/paritytrading/philadelphia/blob/8cf7ee37707d34bf29d166386200b4b0f81bd3af/libraries/core/src/main/java/com/paritytrading/philadelphia/package-info.java#L14).

[2018-08-16 12:36] jvirtanen commented on #71
Can you run a profiler (or even just `jmap -histo` periodically) to see what type of objects are getting allocated?

[2018-08-17 12:19] benitovc commented on #71
Hi Jussi, it´s my first time I run a profile, I just capture when no fix message were traveling, only my FIX Client was connected. If you can´t see the image, tell me to send it via mail. Thanks.
![androidprofile](https://user-images.githubusercontent.com/17068109/44265708-62b2b480-a1ed-11e8-8040-71380690670f.png)

[2018-08-23 14:05] jvirtanen commented on #71
It looks like something is allocating memory in `SocketChannel#read()`. Can you see what types of objects get allocated?

[2018-08-24 08:51] jheusser commented on #71
@benitovc I think it's likely the profiler causing the garbage on socket read. Have you tried disabling socket read/write profiling?

[2018-09-17 20:13] jvirtanen opened #78 "Eliminate coordinated omission"
[Philadelphia Test Initiator](https://github.com/paritytrading/philadelphia/tree/master/examples/initiator) is currently implemented in such a way that the next message is sent out right after receiving the previous message. This is wrong and known as coordinated omission, because it does not take into account the adverse effect long processing time of one message would have on subsequent messages

[2018-09-26 08:21] jvirtanen opened #80 "JDK 11 compatibility"
Philadelphia does not currently compile on JDK 11, most likely due to the [Error Prone](https://github.com/google/error-prone) usage.

[2018-10-13 22:26] jvirtanen opened #82 "Improve Travis configuration"
It looks like there is a way to [configure JDK 10 or later](https://docs.travis-ci.com/user/languages/java/#using-java-10-and-later) for Travis using a tool called [`install-jdk.sh`](https://github.com/sormuras/bach#install-jdksh). It would be good to amend the Travis configuration to contain the following JDKs:
- Oracle JDK 8
- OpenJDK 11

**Note.** Oracle JDK 9 and Oracle JDK 10 have reached end

[2018-10-26 07:47] jvirtanen opened #85 "Add FIX message parser benchmark"
Now that `FIXMessageParser` is a part of the public interface of the library, it is possible to add a benchmark for it in Philadelphia Performance Test.

[2018-12-11 22:02] jvirtanen commented on #80
This was fixed in 827415f08f92262ab093782970679e6bc1cd19a9.

[2018-12-11 22:02] #80 closed

[2018-12-11 22:32] jvirtanen commented on #82
This was closed by #88.

[2018-12-11 22:32] #82 closed

[2019-01-06 12:57] jvirtanen commented on #43
Closing this for now. MiFID II support will be introduced whenever someone needs it.

[2019-01-06 12:57] #43 closed

[2019-01-08 21:28] jvirtanen opened #92 "philadelphia-client: Add 'expect' command"
Philadelphia Terminal Client can run scripts nowadays. For testing FIX acceptors, an `expect` command would be useful. The syntax of the command could be similar to the syntax of the `send` command. For example:
[code]
On the other hand, it should also be possible to skip the expectation for a specific field value, such as the OrderID(37) and ExecID(17) values here:
[code]
Like `send`, `expect` sh

[2019-01-22 21:47] khsergvl commented on #92
@jvirtanen Will take care about that next days

[2019-01-22 22:07] jvirtanen commented on #92
Great, @khsergvl! I think it makes sense to discuss here first the semantics of the `expect` command. What exactly should it do?

To get started, if you are not yet familiar with the terminal client, a good exercise is to the [Parity FIX Gateway test script](https://github.com/paritytrading/parity/blob/master/applications/fix/test/test.txt). You can do it as follows (assuming that Parity is in a `

[2019-01-23 18:31] khsergvl commented on #92
@jvirtanen Thank you for good example and and assistance. I think that it's also sense to add _index_ as it's in _messages_. In this way will be easier to handle test cases like _messages - 2_. What do you think about that?

[2019-01-25 14:13] jvirtanen opened #95 "Improve FIX message handling"
Currently Philadelphia represents both incoming and outgoing FIX messages as instances of the [`FIXMessage`](https://github.com/paritytrading/philadelphia/blob/2.0.0/libraries/core/src/main/java/com/paritytrading/philadelphia/FIXMessage.java) class. A `FIXMessage` object is a sequential collection of tag-value pairs. Each tag is represented by an `int`, and each value is represented by a  [`FIXVal

[2019-01-25 16:37] khsergvl commented on #95
@jvirtanen I could take care about that, after(as i'm working for that now):

- Add 'expect' command #92
- Add FIX message parser benchmark #85

[2019-01-25 16:40] jvirtanen commented on #95
@khsergvl Like #92, this is currently more of an invitation for discussion on how to best achieve the desired outcome. 🙂 Great to hear that you are looking into #85! 👍

[2019-02-16 13:20] jvirtanen commented on #85
This was implemented in #98.

[2019-02-16 13:20] #85 closed

[2019-02-16 23:01] khsergvl commented on #92
@jvirtanen So, what do you think about my idea?

[2019-02-17 19:30] jvirtanen commented on #92
@khsergvl I think the `expect` command should work like the `wait` command, not proceeding until the next message is received and then matching it against the expected message. The `expect` command should probably ignore at Heartbeat (0) and Test Request (1) messages as well as the same fields as `messages` currently ignores:
- SenderCompID(49)
- TargetCompID(56)
- MsgSeqNum(34)
- SendingTime(52)

[2019-03-04 09:05] khsergvl commented on #92
@jvirtanen As i'm now working to implement this feature, what do you think if `expect` command will print to terminal client output in the matching case? I'm also propose to add special tag which mean, that we are want to skip until to some field in matching message. The value of this tag will point on the tag util we want to skip. What do you think about that? In any case i'm working on some prot

[2019-03-05 22:33] jvirtanen commented on #92
I think for starters the mechanism suggested above, `|37|`, should be sufficient. It should check that the tag is correct but the value is not checked. Adding a special tag could be a bit troublesome as basically any integer can be a valid tag.

Regarding your question, yes, I think it would make sense to print the matching message upon reception. 👍

[2019-06-12 21:25] jvirtanen opened #103 "philadelphia-client: Fix command completion"
Currently, command completion in Philadelphia Terminal Client is broken. Command completion should only take place on the first token. For example:
[code]
However, currently it takes place on subsequent tokens as well. This doesn't make sense, because the command is always the first token. For example:
[code]
It looks like this bug got introduced when we upgraded from JLine 2 to JLine 3 (369f7754d

[2019-06-17 08:29] khsergvl commented on #92
Hi @jvirtanen. I've done scratch for expect command, so could you have a look? Keep attention on failure during CI checks - is it all ok after your dependencies update?

[2019-06-17 15:03] jvirtanen commented on #92
Yeah, I noticed that yesterday. It looks like Travis is having some issues with their Java 8 support. 🤷‍♂

[2019-06-17 17:01] jvirtanen commented on #92
I switched from Oracle JDK 8 to OpenJDK 8 on Travis, and the Java 8 build works again.

[2019-06-17 18:26] jvirtanen commented on #78
This was fixed in #102.

[2019-06-17 18:26] #78 closed

[2019-06-17 18:29] jvirtanen commented on #71
Closing this due to lack of further updates.

[2019-06-17 18:29] #71 closed

[2019-06-17 19:23] #103 closed

[2019-06-17 21:00] khsergvl commented on #92
@jvirtanen yeah, working fine now, thanks.

[2019-06-18 22:27] jvirtanen commented on #1
Closing this, because at the moment it feels unlikely that Philadelphia could be used as a drop-in replacement for QuickFIX/J. (There were some attempts at that a few years ago.)

[2019-06-18 22:27] #1 closed

[2019-06-18 22:27] jvirtanen commented on #22
As there hasn't been overwhelming interest in this, closing this for now.

[2019-06-18 22:27] #22 closed

[2019-07-25 19:24] jvirtanen opened #117 "philadelphia-client: Fix 'wait' command"
The `wait` command is broken: it does not look at all received messages since being issued but just the last received message after each wait interval. This means that if `wait A` has been invoked and two messages with MsgType(35) values A and B, respectively, are received within one wait interval, the command only sees the MsgType(35) value B of the second message and continues waiting.

Fix the

[2020-02-24 22:38] #117 closed

[2020-02-28 09:07] jvirtanen opened #140 "Run performance regression test"
This issue tracks running of a performance regression test for the next release.

[2020-02-28 11:30] jvirtanen commented on #140
Here are the results from running Philadelphia Performance Test on the `master` branch, the previous release, 1.1.1, and the previous major release, 1.0.0. The columns show the time each operation under benchmark takes, relative to the `master` branch. Smaller is better.

I will follow up separately on each of those currently in the ❗️status.

Benchmark | master | 1.1.1 | 1.0.0 | Status
----------

[2020-02-28 13:00] jvirtanen commented on #140
The difference in `FIXCheckSumsBenchmark.sum` is caused by switching to a direct byte buffer in the benchmark in 1.1.1. The code under benchmark has not changed. ✅

[2020-02-28 13:05] jvirtanen commented on #140
The code under benchmark in `FIXTagsBenchmark.put` has not changed. ✅

[2020-02-28 13:55] jvirtanen commented on #140
The code under benchmark in `FIXValueBenchmark.asString` has not changed since 1.1.1. A re-run on the `master` branch gives a result comparable to that on 1.1.1. ✅

[2020-02-28 13:58] jvirtanen commented on #140
Regarding `FIXValueBenchmark.setToValue`, a re-run on the `master` branch gives a result comparable to that on 1.0.0. ✅

[2020-02-29 13:26] jvirtanen commented on #140
The code under benchmark in `FIXValueBenchmark.asDate` has a performance regression. I opened pull request #141 to fix that.

[2020-02-29 15:51] jvirtanen commented on #140
The code under benchmark in `FIXValueBenchmark.asTimestamp` has a performance regression. I opened pull request #142 to fix that.

[2020-02-29 19:26] jvirtanen commented on #140
All performance regressions have been addressed.

[2020-02-29 19:26] #140 closed

[2020-08-06 09:35] jvirtanen opened #157 "Add 'FIXValue#contentEquals' methods"
Add the following methods to the `FIXValue` class:

[code]

These methods are inspired by [the method by the same name](https://docs.oracle.com/javase/8/docs/api/java/lang/String.html#contentEquals-java.lang.CharSequence-) in `String` and can be helpful especially when working with enumerations that mix `char` and `String` members, such as [MsgType(35)](https://github.com/paritytrading/philadelphi

[2020-08-06 09:46] jvirtanen opened #158 "Add 'FIXValue#asString(Appendable)'"
Check from Java Language Specification and Java Virtual Machine Specification for Java 8 if it is possibly to widen the parameter type of [`FIXValue#asString(StringBuilder)`](https://github.com/paritytrading/philadelphia/blob/master/libraries/core/src/main/java/com/paritytrading/philadelphia/FIXValue.java#L355) from [`StringBuilder`](https://docs.oracle.com/javase/8/docs/api/java/lang/StringBuilde

[2020-08-24 08:02] #158 closed

[2020-08-25 19:07] #157 closed

[2021-03-22 14:48] jvirtanen opened #178 "Performance regression test"
This issue tracks the performance regression test for the release candidate.

[2021-03-22 14:53] jvirtanen commented on #178
The initial results for the latest release, Philadelphia 1.2.0, (baseline) and the release candidate (candidate) are as follows. There is a lot of noise, as evident from the baseline benchmark results.

Benchmark                                    | Baseline | Candidate | Status
---------------------------------------------|---------:|----------:|:-----------------:
`FIXCheckSumsBenchmark.baseline

[2021-03-25 13:53] jvirtanen commented on #178
There are no changes in `FIXCheckSums` between the baseline and the candidate. ✅

[2021-03-25 13:54] jvirtanen commented on #178
There are no changes in `FIXTags` between the baseline and the candidate. ✅

[2021-03-25 15:18] jvirtanen commented on #178
There appears to be a genuine performance regression in `FIXTimestamps`: #179. ❗

[2021-03-29 19:16] jvirtanen commented on #178
There appears to be a genuine performance regression in `FIXValue#setDate`, `FIXValue#setTimeOnly`, and `FIXValue#setTimestamp`: #181. ❗

[2021-03-30 07:07] jvirtanen commented on #178
There are no changes in `FIXValue#as*` between the baseline and the candidate. ✅

[2021-04-07 07:37] jvirtanen commented on #178
After #181 there is no longer performance regressions in the `FIXMessage` benchmark. ✅

[2021-04-23 09:49] jvirtanen commented on #178
There are no changes in `FIXValue#setBoolean` or `FIXValue#setChar` between the baseline and the candidate. ✅

[2021-05-04 14:45] jvirtanen opened #184 "Check EndSeqNo(16) handling"
_Originally posted by @mhartememx in https://github.com/paritytrading/philadelphia/discussions/170#discussioncomment-692992_

[2021-05-10 13:11] jvirtanen commented on #184
Closed by #185.

[2021-05-10 13:11] #184 closed

[2021-05-10 18:11] jvirtanen commented on #178
After extensive tests, there appears to be no performance regression in `FIXValue#setInt`. ✅

[2021-05-18 14:57] jvirtanen commented on #178
As discovered yesterday, the above regression test results are wrong in the sense that the baseline and candidate results have got mixed up. 🙈

On the positive note, there appear to be no performance regressions, and we can proceed with the Philadelphia 1.3.0 release. As a last step, I will check the necessity of #179 and #181 again in light of yesterday's #186. 🔍

[2021-05-18 14:57] #178 closed

[2021-08-16 17:02] #95 closed

[2021-08-31 12:52] #92 closed, assigned to nobody

[2022-03-17 09:43] dm3 opened #231 "Incorrect outgoing seqno after sending `SequenceReset`"
I've encountered the following sequence against FIX5.0SP1 server (O - outgoing from client, I - incoming):

  * `O 35=A|34=79|...` - Logon Request
  * `I 35=A|34=89|...` - Logon Response
  * `I 35=2|34=90|7=78|16=0|...` - Sequence Resend Request 78..Max
  * `O 35=4|34=78|123=Y|36=80|...` - Resend-GapFill 78..80
  * `O 35=D|34=81|...` - Next message, should be 34=80
  * `I 35=2|34=91|7=80|16=0|` -

[2022-03-17 18:36] jvirtanen commented on #231
On a quick glance, looks like a good catch, @dm3! 🔍  I will check over the weekend that the earlier FIX protocol versions should work the same way, although I’m pretty sure that’s the case.

[2022-03-28 13:19] jvirtanen commented on #231
@dm3 My apologies, this took a while. However, there's now a tentative patch available at #233. Note that it tries to handle also the situation in which the EndSeqNo(16) value is non-zero and smaller than the last MsgSeqNum(34) value.

[2022-04-14 03:40] ddimtirov opened #235 "Make Joda Time optional at runtime"
I am using Philadelphia Fix in a command line utility that I'm packaging as a GraalVM executable, and the Joda Time is a pet peeve of mine as it adds 2 MB to the total size of the executable,

I am proposing the following changes, and I would submit a PR if I get an indication that they are desirable.

**Background:**<br>
Looking at the use of Joda Time in Philadelphia codebase I see it is limited

[2022-04-14 03:49] ddimtirov opened #236 "Allow to pass other channel types"
In our testing, we would like to use pipe channels rather than socket channels.

Looking at the uses of the channel, we should be able to swap the `SocketChannel` type in `FIXConnetion` with `ByteChannel`.

There would be negative impact of breaking the `SocketChannel FIXConnection::getChannel()` (it would change the return type)

Please indicate whether you would consider a Pull Request.

[2022-04-16 07:14] jvirtanen commented on #236
Hi @ddimtirov! This is an interesting idea, and I could see other use cases for this as well. However, note that [`FIXConnection::send()`](https://github.com/paritytrading/philadelphia/blob/2052dd027ef65d9f4fec37629ab09e2d88c6612e/libraries/core/src/main/java/com/paritytrading/philadelphia/FIXConnection.java#L452) uses [`ScatteringByteChannel`](https://docs.oracle.com/javase/8/docs/api/java/nio/ch

[2022-04-16 07:15] ddimtirov commented on #236
Sounds good, would you like me to try it?

[2022-04-16 07:42] jvirtanen commented on #235
Hi @ddimtirov! This is a good point, and indeed, having a single third-party dependency has been bothering me as well.

Unfortunately I earlier only saw the title of this issue, and I already did a bit of prototyping based on that. (I had been thinking about making this change for quite some time, but there had been no discernible external demand for it until now.) My apologies if you had already

[2022-04-16 07:47] ddimtirov commented on #235
Sounds great, do you need any help or testing?

The code we already have is localized and easy to update.

[2022-04-16 08:13] jvirtanen commented on #236
Please go ahead, let's see how it would look like in practice. 🙂

[2022-04-16 08:14] jvirtanen commented on #235
I'll notify on this issue when I post a pull request, a code review will be very welcome. 👍🏼

[2022-04-16 14:37] mrossi975 commented on #236
hi guys,
the above would also allow plugging in the TLS channel implemented by the following open-source project:
https://github.com/marianobarrios/tls-channel
This is important in order to connect to CoinBase.
Having a separate TLS tunnel in a separate tunnel is OK as a proof-of-concept but it's not great for a production environment, you have to worry about configuring, deploying and running one

[2022-04-18 10:28] ddimtirov commented on #236
Update - the patch is in the mail (let's see how long our internal processes would take).

[2022-04-19 20:24] jvirtanen commented on #235
I just opened #237.

[2022-04-25 19:23] mrossi975 commented on #236
hey guys, any update on the above? I'd be keen to try this out. Happy to do any work required. Thanks!

[2022-05-16 18:58] jvirtanen commented on #235
Closed by #237.

[2022-05-16 18:58] #235 closed

[2022-05-17 19:44] #231 closed

[2022-06-18 09:34] jvirtanen commented on #236
This was implemented in #238.

[2022-06-18 09:34] #236 closed

[2022-07-24 16:29] jvirtanen opened #257 "Add Java module support"
Philadelphia does not currently have explicit support for the [Java Platform Module System](https://en.wikipedia.org/wiki/Java_Platform_Module_System). Let's add this for Philadelphia 2.0.0 so that it becomes available from JDK 9 onwards.

[2022-07-24 16:34] jvirtanen opened #258 "Fix and document release process"
The release process currently depends on a [deprecated component](https://central.sonatype.org/publish/publish-maven/#deprecated-oss-parent) and is not documented anywhere. Let's migrate to the current [deployment instructions](https://central.sonatype.org/publish/publish-maven/) and document the release process within the project repository for Philadelphia 2.0.0.

[2022-08-25 04:47] ddimtirov opened #287 "Can we add support FIX 4.0 and 4.1?"
I am hitting an issue where my client needs to establish a (heavily bastardized) 4.0 connection, and my current tool does not support it because `FIXVersions` is an enum and does not provide the right constant.

A more general solution would be to introduce an interface `FixStartStringProvider` and have the `FIXVersions` enum implement that. This way people's code will keep working as before (sour

[2022-08-25 19:08] jvirtanen commented on #287
FIX 4.0 and FIX 4.1 have not been supported because there hasn't been demand for them in the past. Now that there is, it certainly makes sense to add them. #288 introduces FIX 4.0 support for starters.

[2022-08-27 10:30] ddimtirov commented on #287
Thanks, I had a look and it is more and at the same time less than what I need. I am pretty sure that the guys also need FIX 4.1 too (I'll check next week). At the same time we don't need a Java dictionary.

Being able to specify a start string would solve this and all future needs for this application. We would also need a dictionary at some point, for validation but then the generated classes wo

[2022-09-02 07:50] jvirtanen commented on #287
#289 introduced FIX 4.1 support, and #294 made it possible to set an arbitrary BeginString(8) value in `FIXConfig`.

[2022-09-02 07:50] #287 closed

[2022-09-09 17:13] dmech opened #301 "Proper initialization of lastTxMillis and lastRxMillis required"
`lastTxMillis` and `lastRxMillis` in [FIXConnection](https://github.com/paritytrading/philadelphia/blob/765c1c5123d761aa411c32e03e7d186ccdec98fc/libraries/core/src/main/java/com/paritytrading/philadelphia/FIXConnection.java) are both initialized with 0.

If `Keepalive()` is called before any data reception or transmission, e.g. in the [Receiver of the sample application](https://github.com/parityt

[2022-09-09 19:44] jvirtanen commented on #301
Hi @dmech! That's a valid point, and this looks to be a regression in b527f7b5230ddf5a44086710ba62b7b23c62f0e2. Would you like to open a pull request to fix this? It would be nice to add a test case for this too.

[2022-09-10 08:26] dmech commented on #301
Sure, I am on it.

[2022-09-24 21:44] jvirtanen commented on #73
Philadelphia 2.0.0 will have the capability to interface with e.g. [TLS Channel](https://github.com/marianobarrios/tls-channel).

[2022-09-25 07:23] jvirtanen opened #312 "Performance regression test"
This issue tracks the performance regression test for the `main` branch leading up to the Philadelphia 2.0.0 release.

[2022-09-25 07:28] jvirtanen commented on #312
The initial results for the latest release, Philadelphia 1.3.1, (baseline) and commit 41051aad4679ca3823b342db059e40f7bc582c41 from the `main` branch (candidate) are as follows.

Benchmark                                     | Baseline | Candidate | Status
----------------------------------------------|---------:|----------:|:-----------------:
`FIXCheckSumsBenchmark.baseline`              |     1

[2022-09-25 09:04] #301 closed

[2022-09-27 21:33] dmech opened #315 "handleLogon() not triggered in case of unexpected msgSeqNum"
According to the FIX-specification, chapter "Synchronization after successful logon" --> [Link](https://www.fixtrading.org/standards/fix-session-layer-online/) the acknowledgment for the logon is transferred, before the resend request for possible missing message is sent.
Philadelphia handles this well, except the logon message is not triggered in the case when `msgSeqNum != rxMsgSeqNum`

The sequ

[2022-09-30 17:07] jvirtanen commented on #315
Good catch, @dmech! 🔍

As I read the section, it looks though that this would only apply if `msgSeqNum > rxMsgSeqNum`, right? Nevertheless, we should fix the handling for that case.

I suggest adding the handling inside `MessageHandler#handleMsgSeqNum()` in order to keep it off the fast path of `MessageHandler#message()`, which we try to keep as simple as possible.

[2022-10-01 12:18] dmech commented on #315
I rechecked the section and you are right, in this section the case msgSeqNum < rxMsgSeqNum is not mentioned, but in one section above it is:

At the moment in this case (msgSeqNum < rxMsgSeqNum) a `handleTooLowMsgSeqNum()` is called. Looking at the quote above, for a Logon message, a `handleLogout()` should be called in `MessageHandler#handleTooLowMsgSeqNum()` not only for the Logoff case, but al

[2022-10-01 19:46] jvirtanen commented on #315
The preferred way outside `MessageHandler#message()` is to use `FIXValue#contentEquals()`, which is more descriptive.

[2022-10-05 11:30] dmech commented on #315
Thanks! May I create a proposal via pull request?

[2022-10-05 13:04] jvirtanen commented on #315
Yes, please! 👍🏼

[2022-10-14 18:32] jvirtanen commented on #258
Closed by #316.

[2022-10-14 18:32] #258 closed

[2022-10-22 09:09] jvirtanen commented on #312
The latest results for commit https://github.com/paritytrading/philadelphia/commit/23c8c11af166723f0954cd695aa90fdd46a77b31 from the main branch (candidate) are as follows.

Benchmark                                     | Baseline | Candidate | Status
----------------------------------------------|---------:|----------:|:-----------------:
`FIXCheckSumsBenchmark.baseline`              |     1.00 |

[2022-10-26 16:12] jvirtanen commented on #315
Closed by #320.

[2022-10-26 16:12] #315 closed

[2022-10-29 13:39] jvirtanen commented on #312
There have been no changes in the following classes or methods:
- `FIXCheckSums`
- `FIXMessage#get()`
- `FIXMessageParser`
- `FIXValue#asBoolean()`
- `FIXValue#asInt()`
- `FIXValue#contentEquals(byte[])`
- `FIXValue#contentEquals(CharSequence)`
- `FIXValue#setBoolean()`
- `FIXValue#setChar()`
- `FIXValue#setInt()`
- `FIXValue#setString()`

Checking the remaining methods for performance regressions

[2022-10-29 13:39] #312 closed

[2022-11-01 16:53] jvirtanen opened #332 "Update FIX Latest support"
EP273 [is out](https://github.com/FIXTradingCommunity/orchestrations/commit/591b4f12b3d8ae8d65f1efccc0bc5c053e3cc93b).

The code generation process is explained in [the documentation](https://github.com/paritytrading/philadelphia/blob/main/documentation/generate.md#generating-code-from-fix-orchestra).

[2022-11-23 17:30] jvirtanen commented on #332
#303 was the pull request to update to EP272.

[2022-11-23 18:23] jvirtanen opened #337 "Run Philadelphia against QuickFIX/J acceptance test suite"
QuickFIX/J has a large [acceptance test suite](https://github.com/quickfix-j/quickfixj/tree/master/quickfixj-core/src/test/resources/quickfix/test/acceptance/definitions) written in a simple domain-specific language (DSL) not unlike the one [`FIXInitiatorTest`](https://github.com/paritytrading/philadelphia/blob/2.0.0/libraries/core/src/test/java/com/paritytrading/philadelphia/FIXInitiatorTest.java